<!DOCTYPE html>
<html lang='ja'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>カレンダー</title>
</head>

<body>
    <form action="{{ url_for('login') }}" method="GET">
        <div class="jumbotron text-center">
            <h1>カレンダー</h1>
        </div>

        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #f0ffff;">
            <div class="nav-link">
                <button class="btn btn-link text-info" type="submit">戻る</button>
            </div>
        </nav>
    </form>
    
    <div class="container" style="background-color: #ffe4e1; width: 400px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('createUser') }}" method="POST">
            <h4 class="mt-4 mb-5 mx-auto" style="width: 400px;">新規登録</h4><br>
            <div class="form-group mb-4 mx-auto" style="width: 400px;">
                <h4 class="text-left">●任意のユーザー名</h4>
                <input type="userID" name="userID" class="mx-auto" style="width: 300px;" placeholder="英数字 or '_'のみ">
            </div>

            <div class="form-group mb-4 mx-auto" style="width: 400px;">
                <h4 class="text-left">●任意のパスワード</h4>
                <input type="password" name="password" class="mx-auto" style="width: 300px;"  placeholder="英数字を含む8~16字">
            </div>

            <div class="form-group mb-4 mx-auto" style="width: 400px;">
                <button class="btn btn-link" type="submit">登録</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>